@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-800;
}

/* Base transitions for theme switching */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}